{%extends 'base.html'%}

{% block content%}
	{% from "_macros.html" import imprime_formulario %}
	<main class="content">
		<div class="row">
			<div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
				<form method="POST">
					<div class=" control-group " >
					<div class="form-group col-xs-12 floating-label-form-group controls">
						{{imprime_formulario(forms.nombre, class='form-control')}}
						<p class="help-block text-danger"></p>
					</div>
				</div>
					<br>
					<div class=" control-group " >
					<div class="form-group col-xs-12 floating-label-form-group controls">
						{{imprime_formulario(forms.apellido, class='form-control')}}
						<p class="help-block text-danger"></p>
					</div>
				</div>
					<br>
					<div class=" control-group " >
					<div class="form-group col-xs-12 floating-label-form-group controls">
						{{imprime_formulario(forms.edad, class='form-control')}}
						<p class="help-block text-danger"></p>
					</div>
				</div>
				<br>
				<div class=" control-group " >
					<div class="form-group col-xs-12 floating-label-form-group controls">
						{{imprime_formulario(forms.escuela, class='form-control')}}
						<p class="help-block text-danger"></p>
					</div>
				</div>
				<br>
				
					<br>
				<div id="success"></div>
				<div class="row">
					<div class="form-group col-xs-12">
						<button type="submit" class="btn btn-success" >Enviar</button>
					</div>
				</div>
				</form>
			</div>
		</div>
	</main>

{%endblock%}